@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Global CSS */
* {
    box-sizing: border-box;

    font-family: "Open Sans", sans-serif;

    scroll-behavior: smooth !important;

    --main-bg-color: #ffffff;
    --secondary-bg-color: rgba(255, 182, 18, 0.4);
    --main-text-color: #000000;

    --pitt-blue: #003594;
    --pitt-yellow: #FFB81C;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Navigation Bar */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.75rem;
}

.nav-container a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.nav-container__links {
    display: flex;
    gap: 1.2rem;
}

.nav-container__links > li {
    list-style-type: none;
}

/* Section Shared CSS */

.section-container {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}

.section-container:nth-of-type(even) {
    background-color: var(--secondary-bg-color);
}

.section__title {
    font-size: 2.5rem;
    font-weight: 550;
}

.section__subtitle {
    font-size: 1.75rem;
    font-weight: 200;
}

.experience-container,
.about-container,
.portfolio-container,
.contact-container {
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

/* Home */

.home-section-container {
    flex-direction: row;
    margin-top: 3.5rem;
}

.home__container {
    display: flex;
    gap: 10rem;
}

.home__icon {
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.home__name-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.home__name {
    font-size: 3.75rem;
    font-weight: bold;
}

.home__mission-statement {
    font-weight: 100;
    font-size: 1.2rem;
}

.home__contact-container {
    display: flex;
    margin-top: 2.5rem;
    gap: 3rem;
}

.home__contact-resource {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.home__contact-resource > span {
    font-size: 1.25rem;
}

.home__kp-picture {
    max-height: 22.5rem;
    width: auto;
    border-radius: 40px;
}

/* About */
.about__text {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 100;
}

.about__text-pitt {
    background: linear-gradient(to right, var(--pitt-blue), var(--pitt-yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

/* Experience */
.experience-container {
    display: flex;
    flex-direction: row;
}

.experience__skills-container {
    flex: .3;
}

.experience__experience-container {
    flex: .7;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experience__job-title {
    font-size: 1.4rem;
}

.experience__job-description {
    font-size: 1rem;
    line-height: 1.75rem;
}

.experience__job-company {
    font-style: italic;
}

.experience__skills-section-subtitle {
    font-size: 1.4rem;
}

.experience__skills-items-container > li {
    font-size: 1.2rem;
}

/* Portfolio */
.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.portfolio__project-title {
    font-size: 1.4rem;
}

.portfolio__project-description {
    font-size: 1rem;
    line-height: 1.75rem;
}

.external-link-icon {
    height: 1.5rem;
}

.portfolio__project-header {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: black;
}

/* Contact */
.contact__items-container > li {
    list-style-type: none;
}

.contact__item-logo {
    height: 2.5rem;
    border-radius: 4px;
}

.contact__items-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section__title {
    text-align: center;
}

.contact__item-name {
    font-size: 1.2rem;
}

.contact__item-container {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: black;
}

/* Footer */
.footer-container {
    text-align: center;
    padding-bottom: 0.5rem;
}
