@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Global CSS */
* {
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;

    --main-bg-color: #ffffff;
    --secondary-bg-color: rgba(255, 182, 18, .4);
    --main-text-color: #000000;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Navigation Bar */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: .75rem;
}

.nav-container a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.nav-container__links {
    display: flex;
    gap: 1.2rem;
}

.nav-container__links > li {
    list-style-type: none;
}

/* Section Shared CSS */

.section-container {
    background-color: var(--main-bg-color);
    padding: 8rem 25rem;
}

.section-container:nth-of-type(even) {
    background-color: var(--secondary-bg-color);
}

/* Home */
.home__icon {
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.home__name-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.home__name {
    font-size: 3.75rem;
    font-weight: 1000;
}

.home__mission-statement {
    font-weight: 100;
    font-size: 1.2rem;
}

.home__contact-container {
    display: flex;
    margin-top: 4rem;
    gap: 3rem;
}

.home__contact-resource {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.home__contact-resource > span {
    font-size: 1.5rem;
}

.home__container {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.home__kp-picture {
    max-width: 50%;
    max-height: 35vh;
    border-radius: 40px;
}

/* About */

/* Experience */

/* Portfolio */

/* Contact */

/* Footer */
.footer-container {
    text-align: center;
    padding-bottom: .5rem;
}